<div class="row">
	<div class="col-md-8">
		<%= form_tag adverts_path, class: "input-group", style: "width: 80%", method: :get do %>
			<%= text_field_tag :query, params[:query], placeholder: "Search by author, advert and commentary", class: "form-control" %>
			<%= submit_tag "Search", name: nil, class: "input-group-append" %>
		<% end %>
	</div>
		<% if signed_in?%>
			<div class="col-md-2">
				<%= link_to "New Advert", new_advert_path(@advert), class: "btn btn-primary" %>
			</div>
		<% end %>
  <hr style="width: 100%; border: 1px solid grey">
	<div class="col-md-12">
		<% @adverts.each do |advert| %>
			<div class="col-md-4">
				<div class="card bg-light">
					<%= image_tag advert.image.url(:thumb), class: "card-img-top" if advert.image?%>	
					<div class="card-body">
						<h5 class="card-title"><%= advert.user.first_name + " " + advert.user.last_name %></h5>
						<p class="card-text"><%= markdown advert.description.truncate(160, separator: /\s/) %></p>
						<%= link_to "More details", advert, class: "btn btn-info" %>
					</div>
					<div class="card-footer">
						<% if can? :manage, advert %>
							<%= link_to 'Edit', edit_advert_path(advert), class: "btn btn-warning" %>
							<%= link_to 'Delete', advert_path(advert), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>